<body>
    <h1 id="title">{{saludo}}</h1>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col" id="text">{{mensaje}}</div>
            <div class="col"></div>
        </div>
    </div>

    <script src="assets/js/jquery/jquery.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Necesario para que funcionen los sockets -->
    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/socket-client.js"></script>
</body>